@charset "utf-8";
@import url("./bootstrap-reboot.css");

/*@import url("./layoutChecker.css");*/


html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f9f9f9;
  color: #353535;
}


.controller {
  margin: 2rem;
}

.params {
  display:flex;
  justify-content: space-between;
  
  /*padding: 0 1rem;*/
}

.valus {
  text-align: right;
}

input {
  width: 100%;
}


.adsr {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.adsr .valus {
  margin: 0 1rem;

}

.adsr input {
  /*width: 80%;*/
  transform: rotate(90deg);
  height: 6rem;
  /*width: 20%;*/
}
