@charset "utf-8";
@import url("./layoutChecker.css");


html {
  height: 100%;
}

body {
  height: 100%;
}



input {
  width: 100%;
  height: 2rem;
}

.tone {
  height: 8rem;
  background-color: maroon;
}

.tone:active {
  background-color: teal;
}